<?php
$path = JURI::root() . 'media/com_papertables/';
$document = JFactory::getDocument();

JHtml::_('jquery.framework');
$document->addStyleSheet($path . 'css/fuelux.css');
$document->addStyleSheet($path . 'css/fuelux-responsive.css');
?>
<div class="container">
    <!--  breadcrumb -->
    <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
            <span class="divider"><?php echo $breadcrumb['separator']; ?></span><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
        <?php } ?>
    </ul>

    <div class="row">
        <div class="span9 fuelux" id="confirm">
            <?php echo $text_confirming; ?>
            <div class="preloader" style="position: absolute;top:1em;left:7em;"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $.ajax({
            url: 'index.php?route=payment/portmone/confirmPayment&option=com_papertables&task=oc&tmpl=component',
            dataType: 'json',
            success: function(json) {
                if ('err' in json) {
                    $('#confirm').html(json['err']);
                } else {
                    location = '<?php echo $continue; ?>';
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
</script>